<a href="https://colab.research.google.com/github/FilipeVinicius/Analise_de_dados/blob/main/PRESENCIAL_Semana_4_Filipe_Vinicius_Vieira_da_Silva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Imprima as Colunas do DataFrame:
Comece imprimindo todas as colunas do
DataFrame para entender quais informações estão disponíveis.

In [11]:
import pandas as pd
url = "https://raw.githubusercontent.com/gazzola/dataset_students/main/metadados_filmes.csv"
df = pd.read_csv(url)
df

<ipython-input-11-82466e5be1dd>:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [12]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [13]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

#2. Cálculo de 'm' (Número de Votos no Quantil 80%):
Atribua à variável 'm' o cálculo do número de votos dos filmes no quantil de 80%. Utilize a coluna 'vote_count' para isso.

In [15]:
df["vote_count"]

0        5415.0
1        2413.0
2          92.0
3          34.0
4         173.0
          ...
45461       1.0
45462       3.0
45463       6.0
45464       0.0
45465       0.0
Name: vote_count, Length: 45466, dtype: float64

In [16]:
m = df["vote_count"].quantile(0.8)

In [17]:
m

np.float64(50.0)

# 3. Filtragem por Duração dos Filmes:
Considere apenas filmes com duração entre 45
minutos e 300 minutos. Utilize a coluna 'runtime' para aplicar esse filtro.

In [18]:
filmes45_300 = df[(df["runtime"] >= 45) & (df["runtime"] <= 300)]
filmes45_300

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [19]:
filmes45_300.describe()

            revenue       runtime  vote_average    vote_count
count  4.193000e+04  41930.000000  41930.000000  41930.000000
mean   1.214316e+07     99.596256      5.662177    118.030456
std    6.689774e+07     22.959585      1.839248    510.604694
min    0.000000e+00     45.000000      0.000000      0.000000
25%    0.000000e+00     88.000000      5.000000      4.000000
50%    0.000000e+00     96.000000      6.000000     10.000000
75%    0.000000e+00    108.000000      6.800000     38.000000
max    2.787965e+09    300.000000     10.000000  14075.000000

# 4. Filtragem por Número de Votos:
Considere apenas filmes que receberam mais de 'm'
votos. Use a coluna 'vote_count' novamente para essa filtragem.

In [20]:
filmes45_300_m = filmes45_300[filmes45_300["vote_count"] >= m]
filmes45_300_m

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45268,False,NaN,5402000,"[{'id': 35, 'name': 'Comedy'}]",NaN,277839,tt4531694,fr,Pattaya,Franky and Krimo dream of leaving the grey gri...,...,2016-02-24,0.0,100.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,"Good Guys Go to Heaven, Bad Guys Go to Pattaya",False,5.3,153.0
45339,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,430365,tt5804948,fr,À bras ouverts,Jean-Étienne Fougerole is an intellectual bohe...,...,2017-04-05,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Thanks for the invitation!,With Open Arms,False,5.2,94.0
45343,False,"{'id': 52888, 'name': 'The Visitors Collection...",25868826,"[{'id': 35, 'name': 'Comedy'}]",NaN,248705,tt2441982,fr,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo...",...,2016-03-23,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Visitors: Bastille Day,False,4.0,167.0
45348,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,44918,tt1640571,en,Titanic II,On the 100th anniversary of the original voyag...,...,2010-08-07,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"100 years later, lightning strikes twice",Titanic 2,False,3.4,55.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0

# 5. Contagem de Filmes após Filtragem:
Verifique quantos filmes passaram pelos filtros.
Use a função 'shape' do Pandas para obter o resultado esperado: (8963, 24).

In [21]:
filmes45_300_m.shape

(8963, 24)

# 6. Cálculo da Média de 'vote_average':
Atribua à variável 'C' a média da coluna
'vote_average'. A coluna 'vote_average' representa a média das avaliações dadas pelos
espectadores ou usuários para um determinado filme.

In [22]:
C = df["vote_average"].mean()
C

np.float64(5.618207215134185)

# 7. Função para Classificação Ponderada:
Crie uma função chamada
'classificacao_ponderada' para calcular a classificação ponderada de cada filme. Utilize a
função fornecida na questão.

In [23]:
def classificacao_ponderada(x, m=m, C=C):
  v = x['vote_count']
  R = x["vote_average"]
  return (v/(v+m) * R) + (m/(m+v)*C)

# 8. Cálculo da Pontuação e Adição de Coluna 'score':
 Calcule a pontuação de cada filme
e adicione uma nova coluna chamada 'score' ao DataFrame usando a função
'classificacao_ponderada' definida na questão 7.

In [24]:
filmes45_300_m["score"] = filmes45_300_m.apply(classificacao_ponderada, axis=1)
filmes45_300_m["score"]

<ipython-input-24-2ff383937fb3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filmes45_300_m["score"] = filmes45_300_m.apply(classificacao_ponderada, axis=1)

0        7.680953
1        6.873979
2        6.189510
4        5.681661
5        7.646235
           ...
45268    5.378376
45339    5.345211
45343    4.372859
45348    4.456289
45441    5.307233
Name: score, Length: 8963, dtype: float64



# 9. Ordenação por Pontuação:

Ordene os filmes em ordem decrescente com base em suas pontuações

In [28]:
ordenar_decrescente = filmes45_300_m.sort_values(by="score", ascending=False)

In [29]:
ordenar_decrescente["score"]

10309    8.855148
314      8.482863
834      8.476278
40251    8.366584
12481    8.289115
           ...
17708    3.578238
12911    3.519701
11557    3.514871
3471     3.423658
13566    3.158877
Name: score, Length: 8963, dtype: float64

In [30]:
ordenar_decrescente

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
10309,False,NaN,13200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,19404,tt0112870,hi,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",...,1.000000e+08,190.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Come... Fall In Love,Dilwale Dulhania Le Jayenge,False,9.1,661.0,8.855148
314,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,2.834147e+07,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.5,8358.0,8.482863
834,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",...,2.450664e+08,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,The Godfather,False,8.5,6024.0,8.476278
40251,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 16, ...",https://www.funimationfilms.com/movie/yourname/,372058,tt5311514,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,...,3.552983e+08,106.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Your Name.,False,8.5,1030.0,8.366584
12481,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0,8.289115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17708,False,"{'id': 225961, 'name': 'Birdemic Collection', ...",0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",http://www.birdemic.com/,40016,tt1316037,en,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,...,0.000000e+00,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why did the eagles and vultures attack?,Birdemic: Shock and Terror,False,2.1,69.0,3.578238
12911,False,NaN,25000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.disastermovie.net/,13805,tt1213644,en,Disaster Movie,"In DISASTER MOVIE, the filmmaking team behind ...",...,1.410928e+07,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your favorite movies are going to be destroyed.,Disaster Movie,False,3.1,250.0,3.519701
11557,False,NaN,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9760,tt0799949,en,Epic Movie,"When Edward, Peter, Lucy and Susan each follow...",...,8.686556e+07,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We know it's big. We measured.,Epic Movie,False,3.2,334.0,3.514871
3471,False,NaN,44000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,5491,tt0185183,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",...,2.140000e+07,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Take Back The Planet,Battlefield Earth,False,3.0,259.0,3.423658
13566,False,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,14164,tt1098327,en,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,...,0.000000e+00,85.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The legend comes to life.,Dragonball Evolution,False,2.9,475.0,3.158877

# 10. Exibição dos Melhores Filmes:

Imprima na tela as informações dos 25 melhores filmes,
considerando apenas as colunas 'title', 'vote_count', 'vote_average', 'score' e 'runtime'.

In [31]:
melhores_25_filmes = ordenar_decrescente.head(25)
melhores_25_filmes[["title", "vote_count", "vote_average", "score", "runtime"]]

,title,vote_count,vote_average,score,runtime
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.855148,190.0
314,The Shawshank Redemption,8358.0,8.5,8.482863,142.0
834,The Godfather,6024.0,8.5,8.476278,175.0
40251,Your Name.,1030.0,8.5,8.366584,106.0
12481,The Dark Knight,12269.0,8.3,8.289115,152.0
2843,Fight Club,9678.0,8.3,8.286216,139.0
292,Pulp Fiction,8670.0,8.3,8.284623,154.0
522,Schindler's List,4436.0,8.3,8.270109,195.0
23673,Whiplash,4376.0,8.3,8.269704,105.0
5481,Spirited Away,3968.0,8.3,8.266628,125.0
2211,Life Is Beautiful,3643.0,8.3,8.263691,116.0
1178,The Godfather: Part II,3418.0,8.3,8.261335,200.0
1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.256051,133.0
1176,Psycho,2405.0,8.3,8.245381,109.0
351,Forrest Gump,8147.0,8.2,8.184252,142.0
1184,Once Upon a Time in America,1104.0,8.3,8.183804,229.0
1154,The Empire Strikes Back,5998.0,8.2,8.178656,124.0
18465,The Intouchables,5410.0,8.2,8.176357,112.0
289,Leon: The Professional,4293.0,8.2,8.170276,110.0
3030,The Green Mile,4166.0,8.2,8.169381,189.0
1170,GoodFellas,3211.0,8.2,8.160414,145.0
2216,American History X,3120.0,8.2,8.159278,119.0
1161,12 Angry Men,2130.0,8.2,8.140785,96.0
9698,Howl's Moving Castle,2049.0,8.2,8.138499,119.0
2884,Princess Mononoke,2041.0,8.2,8.138264,134.0

# 11. Personalização de 'm' pelo Usuário:

Permita que o usuário insira um valor para 'm', por
exemplo, um quantil como 0.75 para personalizar o cálculo na questão 2.

In [37]:
m = float(input("Quantil: "))
quantil_usuario = melhores_25_filmes['vote_count'].quantile(m)
quantil_usuario

Quantil: 0.75

np.float64(5998.0)

# 12. Experimento com Amostra Aleatória:

Refazer todo o experimento usando uma amostra
aleatória 'N' definida pelo usuário. Permita que o usuário insira um valor para N.

In [40]:
N = int(input("Amostra: "))
amostra_aleatoria_n = df.sample(N)

Amostra: 50

In [41]:
amostra_aleatoria_n.describe()

            revenue     runtime  vote_average   vote_count
count  5.000000e+01   50.000000     50.000000    50.000000
mean   1.328485e+07   90.960000      5.542000   130.740000
std    6.137523e+07   34.349322      2.342952   475.332314
min    0.000000e+00    0.000000      0.000000     0.000000
25%    0.000000e+00   85.000000      5.325000     3.000000
50%    0.000000e+00   94.500000      6.200000    10.000000
75%    0.000000e+00  105.750000      6.875000    24.250000
max    3.788275e+08  155.000000     10.000000  2439.000000

In [43]:
amostra_aleatoria_n["vote_count"].quantile(0.8)

np.float64(33.0)

In [45]:
amostra45_300 = amostra_aleatoria_n[(amostra_aleatoria_n["runtime"] >= 45) & (amostra_aleatoria_n["runtime"] <= 300)]
amostra45_300

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
28508,False,"{'id': 479319, 'name': 'George Carlin Comedy C...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.georgecarlin.com,13643,tt0963207,en,George Carlin: It's Bad for Ya!,"It's Bad For Ya, Carlin's Emmy nominated 14th ...",...,2008-03-01,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Let's cut the crap.,George Carlin: It's Bad for Ya!,False,8.1,33.0
21408,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,157862,tt0087366,en,Growing Pains,Four teens on the run from an orphanage spring...,...,1984-11-11,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Growing Pains,False,10.0,1.0
25520,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9807,tt0090601,it,Superfantagenio,"Updating of the old ""Aladdin"" Arabian Nights t...",...,1986-01-01,0.0,95.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Aladdin,False,5.4,46.0
35643,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,52738,tt0472477,en,Man zkt vrouw,"On the day of his forced retirement, a grumpy ...",...,2007-08-08,0.0,107.0,[],Released,NaN,A perfect match,False,0.0,0.0
38811,False,NaN,0,[],NaN,115386,tt0098222,en,Rooftops,"T, as most of his friends, lives in a self-con...",...,1989-03-17,0.0,98.0,[],Released,Rooftops. It's the only place to be.,Rooftops,False,4.3,3.0
11580,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,63460,tt0084861,en,Vice Squad,An unlikely Hollywood hooker helps a detective...,...,1982-01-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"On the street, the real trick is staying alive.",Vice Squad,False,6.0,14.0
30943,False,NaN,15000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",http://www.macbeth-movie.com/,225728,tt2884018,en,Macbeth,Feature film adaptation of Shakespeare's Scott...,...,2015-08-16,12601706.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All hail Macbeth that shall be king,Macbeth,False,6.4,497.0
42565,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,436339,tt5446444,pt,Colo,"Struggling against the crisis in Portugal, a m...",...,2017-02-15,0.0,136.0,"[{'iso_639_1': 'pt', 'name': 'Português'}]",Released,NaN,Colo,False,0.0,0.0
28515,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,118180,tt0390425,ko,송환,North Korean spies return to their homeland.,...,2004-04-24,0.0,149.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Repatriation,False,5.0,1.0
24278,False,NaN,70000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,49017,tt0829150,en,Dracula Untold,"Vlad Tepes is a great hero, but when he learns...",...,2014-10-01,215529201.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every bloodline has a beginning,Dracula Untold,False,6.2,2439.0
22360,False,NaN,32000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,169881,tt2101473,en,The Physician,"The story of Rob Cole, a boy who is left a pen...",...,2013-12-25,57284237.0,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Physician,False,7.2,365.0
21896,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,19241,tt1153100,en,Backwoods,While camping in Jasper Park up North Californ...,...,2008-01-03,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Backwoods,False,3.5,12.0
35413,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,72505,tt1606595,ja,あしたのジョー,"Set in the 1960's, Joe Yabuki (Tomohisa Yamash...",...,2011-02-11,0.0,131.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Tomorrow's Joe,False,6.2,3.0
45233,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://thegirlfromthesongmovie.tumblr.com/,454774,tt6336270,en,The Girl from the Song,"A young musician travels to Burning Man, a psy...",...,2017-04-24,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Girl from the Song,False,6.3,4.0
26036,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 10402, '...",NaN,24745,tt0084747,en,Sweeney Todd: The Demon Barber of Fleet Street,Times are hard in 1846 London and one must mak...,...,1982-09-12,0.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Sweeney Todd: The Demon Barber of Fleet Street,False,5.1,4.0
31914,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://firstwintermovie.com/,136928,tt2294619,en,First Winter,"When winter begins, life is serene for a group...",...,2012-10-11,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Escape,First Winter,False,4.0,1.0
22822,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://wwws.br.warnerbros.com/amulherinvisivel/,30127,tt1236397,pt,A Mulher Invisível,A man is abandoned by his wife and then falls ...,...,2009-06-05,0.0,106.0,"[{'iso_639_1': 'pt', 'name': 'Português'}]",Released,NaN,The Invisible Woman,False,6.4,45.0
8491,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,20127,tt0047123,en,It Should Happen to You,Gladys Glover has just lost her modeling job w...,...,1954-01-18,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In 'Born Yesterday' I got two mink coats - thi...,It Should Happen to You,False,7.7,7.0
34208,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,68756,tt0064121,fr,Camarades,22 year-old- Yan is trying hard to find his wa...,...,1970-11-05,0.0,85.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Comrades,False,0.0,0.0
30733,False,"{'id': 466318, 'name': 'Bachelor Party Collect...",6000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,14503,tt0954541,en,Bachelor Party 2: The Last Temptation,Ron Simmons (Josh Cooke) is ready to settle do...,...,2008-03-11,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Bachelor Party 2: The Last Temptation,False,5.5,12.0
38648,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,45341,tt1433816,hr,Metastaze,"Eliciting images of cancer, this drama explore...",...,2009-01-01,0.0,82.0,"[{'iso_639_1': 'bs', 'name': 'Bosanski'}, {'is...",Released,NaN,Metastases,False,6.9,9.0
42355,False,"{'id': 344830, 'name': 'Fifty Shades Collectio...",55000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.fiftyshadesmovie.com/,341174,tt4465564,en,Fifty Shades Darker,When a wounded Christian Grey tries to entice ...,...,2017-02-08,378827494.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every fairy tale has a dark side.,Fifty Shades Darker,False,6.0,2341.0
37229,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,38553,tt0337717,en,Shelter Island,Ally Sheedy is a retired golfer turned motivat...,...,2003-02-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shelter Island,False,4.5,4.0
23970,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,123561,tt0945365,ja,Kurosawa Akira kara no messêji: Utsukushii eiga o,A Documentary in 10 parts covering the film ma...,...,2000-04-01,0.0,81.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,A Message from Akira Kurosawa: For Beautiful M...,False,0.0,0.0
11556,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,10075,tt0397044,en,Blood and Chocolate,A young teenage werewolf is torn between honor...,...,2007-01-26,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The hunt never tasted so sweet.,Blood and Chocolate,False,5.5,92.0
830,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,116690,tt0051980,ja,楢山節考,"In Kabuki style, the film tells the story of a...",...,1958-06-01,0.0,98.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Ballad of Narayama,False,6.4,12.0
14407,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,108200,tt0032397,en,The Doctor Takes a Wife,A best-selling author of women's issues and a ...,...,1940-04-25,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Romance Is Contagious! The Fun Is Catching!,The Doctor Takes a Wife,False,7.0,2.0
30851,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,24787,tt0189070,en,Scooby-Doo Meets the Boo Brothers,When Shaggy inherits an old Southern estate fr...,...,1987-11-01,0.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Scooby-Doo Meets the Boo Brothers,False,6.6,26.0
45286,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,59958,tt0487907,en,Gideon's Daughter,Bill Nighy and Miranda Richardson star in a st...,...,2005-10-21,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Gideon's Daughter,False,6.0,15.0
23931,False,"{'id': 347469, 'name': 'Antboy Collection', 'p...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,314285,tt3606698,da,Antboy II: Den røde furies hævn,The film ' Antboy: Revenge of the Red Fury ' i...,...,2014-12-25,0.0,80.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,NaN,Antboy: Revenge of the Red Fury,False,6.7,19.0
27412,False,NaN,0,[],NaN,218233,tt0036034,en,生きてゐる孫六,A wealthy family will not allow the military t...,...,1943-01-01,0.0,88.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Living Magoroku,False,8.0,4.0
5728,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,31921,tt0083189,en,They All Laughed,A mad cap private-eye caper about a team of de...,...,1981-01-01,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some of them promised they'd never fall in love.,They All Laughed,False,5.5,11.0
18204,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,19305,tt1314269,da,Applaus,"When the critically acclaimed, tough and comin...",...,2009-09-24,0.0,85.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Applause,False,5.8,5.0
31411,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,259075,tt0077225,es,Bermude: la fossa maledetta,When Andres and his partner are hired to recov...,...,1978-06-28,0.0,90.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,NaN,Cave of the Sharks,False,0.0,0.0
15361,False,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.neteretournepas-lefilm.com,18897,tt1075113,fr,Ne te retourne pas,Panic attacks and memory loss signal the pligh...,...,2009-05-16,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Don't Look Back,False,5.8,54.0
3561,False,NaN,1500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,11368,tt0086979,en,Blood Simple,The owner of a seedy small-town Texas bar disc...,...,1984-09-07,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Breaking up is hard to do.,Blood Simple,False,7.3,308.0
26107,False,NaN,0,"[{'id': 37, 'name': 'Western'}, {'id': 35, 'na...",NaN,147764,tt1977953,en,The Man Who Shook the Hand of Vicente Fernandez,Rex is an old man who is bitter about never be...,...,2012-04-27,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Man Who Shook the Hand of Vicente Fernandez,False,6.2,3.0
42922,False,NaN,5000000,"[{'id': 18, 'name': 'Drama'}]",https://facebook.com/The-Vessel-1578789589102701,402423,tt4083052,en,The Vessel,Ten years after a tsunami destroyed a small-to...,...,2016-09-15,0.0,86.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,"Is a miracle just a tragedy, narrowly avoided ...",The Vessel,False,5.3,14.0
17565,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://www.girasolesciegos.com/,56810,tt1103192,es,Los girasoles ciegos,"Ourense, Spain, 1940. Every time that Elena lo...",...,2008-01-01,0.0,98.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Blind Sunflowers,False,7.3,12.0
24206,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,64835,tt1886502,it,Corpo celeste,"After growing up in Switzerland, 13-year-old M...",...,2011-05-20,0.0,100.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Corpo celeste,False,7.7,6.0
40754,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,326250,tt4067162,en,Killswitch,"This Internet is under attack. Communications,...",...,2015-03-01,0.0,72.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Killswitch,False,7.5,8.0
9791,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,36815,tt0058886,en,The Agony and the Ecstasy,Charlton Heston stars as Renaissance artist Mi...,...,1965-10-07,0.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,From the age of magnificence comes a new magni...,The Agony and the Ecstasy,False,6.8,33.0
33250,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,314011,tt3064356,en,The Beat Beneath My Feet,A teenage boy lives with his single mum in a f...,...,2014-09-25,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Live your dreams,The Beat Beneath My Feet,False,7.0,11.0
3578,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,26889,tt0087004,en,The Brother from Another Planet,An alien slave crashes lands in New York city ...,...,1984-09-07,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Brother from Another Planet,False,6.6,26.0
20561,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",http://www.bbc.co.uk/mediacentre/mediapacks/bo...,80709,tt1975269,en,The Borrowers,Family adventure based on Mary Norton's classi...,...,2011-12-25,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Borrowers,False,6.2,17.0

In [46]:
amostra45_300_m = amostra45_300[amostra45_300["vote_count"] >= m]
amostra45_300_m

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
28508,False,"{'id': 479319, 'name': 'George Carlin Comedy C...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.georgecarlin.com,13643,tt0963207,en,George Carlin: It's Bad for Ya!,"It's Bad For Ya, Carlin's Emmy nominated 14th ...",...,2008-03-01,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Let's cut the crap.,George Carlin: It's Bad for Ya!,False,8.1,33.0
21408,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,157862,tt0087366,en,Growing Pains,Four teens on the run from an orphanage spring...,...,1984-11-11,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Growing Pains,False,10.0,1.0
25520,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9807,tt0090601,it,Superfantagenio,"Updating of the old ""Aladdin"" Arabian Nights t...",...,1986-01-01,0.0,95.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Aladdin,False,5.4,46.0
38811,False,NaN,0,[],NaN,115386,tt0098222,en,Rooftops,"T, as most of his friends, lives in a self-con...",...,1989-03-17,0.0,98.0,[],Released,Rooftops. It's the only place to be.,Rooftops,False,4.3,3.0
11580,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,63460,tt0084861,en,Vice Squad,An unlikely Hollywood hooker helps a detective...,...,1982-01-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"On the street, the real trick is staying alive.",Vice Squad,False,6.0,14.0
30943,False,NaN,15000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",http://www.macbeth-movie.com/,225728,tt2884018,en,Macbeth,Feature film adaptation of Shakespeare's Scott...,...,2015-08-16,12601706.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All hail Macbeth that shall be king,Macbeth,False,6.4,497.0
28515,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,118180,tt0390425,ko,송환,North Korean spies return to their homeland.,...,2004-04-24,0.0,149.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Repatriation,False,5.0,1.0
24278,False,NaN,70000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,49017,tt0829150,en,Dracula Untold,"Vlad Tepes is a great hero, but when he learns...",...,2014-10-01,215529201.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every bloodline has a beginning,Dracula Untold,False,6.2,2439.0
22360,False,NaN,32000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,169881,tt2101473,en,The Physician,"The story of Rob Cole, a boy who is left a pen...",...,2013-12-25,57284237.0,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Physician,False,7.2,365.0
21896,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,19241,tt1153100,en,Backwoods,While camping in Jasper Park up North Californ...,...,2008-01-03,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Backwoods,False,3.5,12.0
35413,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,72505,tt1606595,ja,あしたのジョー,"Set in the 1960's, Joe Yabuki (Tomohisa Yamash...",...,2011-02-11,0.0,131.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Tomorrow's Joe,False,6.2,3.0
45233,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://thegirlfromthesongmovie.tumblr.com/,454774,tt6336270,en,The Girl from the Song,"A young musician travels to Burning Man, a psy...",...,2017-04-24,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Girl from the Song,False,6.3,4.0
26036,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 10402, '...",NaN,24745,tt0084747,en,Sweeney Todd: The Demon Barber of Fleet Street,Times are hard in 1846 London and one must mak...,...,1982-09-12,0.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Sweeney Todd: The Demon Barber of Fleet Street,False,5.1,4.0
31914,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://firstwintermovie.com/,136928,tt2294619,en,First Winter,"When winter begins, life is serene for a group...",...,2012-10-11,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Escape,First Winter,False,4.0,1.0
22822,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://wwws.br.warnerbros.com/amulherinvisivel/,30127,tt1236397,pt,A Mulher Invisível,A man is abandoned by his wife and then falls ...,...,2009-06-05,0.0,106.0,"[{'iso_639_1': 'pt', 'name': 'Português'}]",Released,NaN,The Invisible Woman,False,6.4,45.0
8491,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,20127,tt0047123,en,It Should Happen to You,Gladys Glover has just lost her modeling job w...,...,1954-01-18,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In 'Born Yesterday' I got two mink coats - thi...,It Should Happen to You,False,7.7,7.0
30733,False,"{'id': 466318, 'name': 'Bachelor Party Collect...",6000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,14503,tt0954541,en,Bachelor Party 2: The Last Temptation,Ron Simmons (Josh Cooke) is ready to settle do...,...,2008-03-11,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Bachelor Party 2: The Last Temptation,False,5.5,12.0
38648,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,45341,tt1433816,hr,Metastaze,"Eliciting images of cancer, this drama explore...",...,2009-01-01,0.0,82.0,"[{'iso_639_1': 'bs', 'name': 'Bosanski'}, {'is...",Released,NaN,Metastases,False,6.9,9.0
42355,False,"{'id': 344830, 'name': 'Fifty Shades Collectio...",55000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.fiftyshadesmovie.com/,341174,tt4465564,en,Fifty Shades Darker,When a wounded Christian Grey tries to entice ...,...,2017-02-08,378827494.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every fairy tale has a dark side.,Fifty Shades Darker,False,6.0,2341.0
37229,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,38553,tt0337717,en,Shelter Island,Ally Sheedy is a retired golfer turned motivat...,...,2003-02-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shelter Island,False,4.5,4.0
11556,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,10075,tt0397044,en,Blood and Chocolate,A young teenage werewolf is torn between honor...,...,2007-01-26,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The hunt never tasted so sweet.,Blood and Chocolate,False,5.5,92.0
830,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,116690,tt0051980,ja,楢山節考,"In Kabuki style, the film tells the story of a...",...,1958-06-01,0.0,98.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Ballad of Narayama,False,6.4,12.0
14407,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,108200,tt0032397,en,The Doctor Takes a Wife,A best-selling author of women's issues and a ...,...,1940-04-25,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Romance Is Contagious! The Fun Is Catching!,The Doctor Takes a Wife,False,7.0,2.0
30851,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,24787,tt0189070,en,Scooby-Doo Meets the Boo Brothers,When Shaggy inherits an old Southern estate fr...,...,1987-11-01,0.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Scooby-Doo Meets the Boo Brothers,False,6.6,26.0
45286,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,59958,tt0487907,en,Gideon's Daughter,Bill Nighy and Miranda Richardson star in a st...,...,2005-10-21,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Gideon's Daughter,False,6.0,15.0
23931,False,"{'id': 347469, 'name': 'Antboy Collection', 'p...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,314285,tt3606698,da,Antboy II: Den røde furies hævn,The film ' Antboy: Revenge of the Red Fury ' i...,...,2014-12-25,0.0,80.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Released,NaN,Antboy: Revenge of the Red Fury,False,6.7,19.0
27412,False,NaN,0,[],NaN,218233,tt0036034,en,生きてゐる孫六,A wealthy family will not allow the military t...,...,1943-01-01,0.0,88.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Living Magoroku,False,8.0,4.0
5728,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,31921,tt0083189,en,They All Laughed,A mad cap private-eye caper about a team of de...,...,1981-01-01,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some of them promised they'd never fall in love.,They All Laughed,False,5.5,11.0
18204,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,19305,tt1314269,da,Applaus,"When the critically acclaimed, tough and comin...",...,2009-09-24,0.0,85.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Applause,False,5.8,5.0
15361,False,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.neteretournepas-lefilm.com,18897,tt1075113,fr,Ne te retourne pas,Panic attacks and memory loss signal the pligh...,...,2009-05-16,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Don't Look Back,False,5.8,54.0
3561,False,NaN,1500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,11368,tt0086979,en,Blood Simple,The owner of a seedy small-town Texas bar disc...,...,1984-09-07,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Breaking up is hard to do.,Blood Simple,False,7.3,308.0
26107,False,NaN,0,"[{'id': 37, 'name': 'Western'}, {'id': 35, 'na...",NaN,147764,tt1977953,en,The Man Who Shook the Hand of Vicente Fernandez,Rex is an old man who is bitter about never be...,...,2012-04-27,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Man Who Shook the Hand of Vicente Fernandez,False,6.2,3.0
42922,False,NaN,5000000,"[{'id': 18, 'name': 'Drama'}]",https://facebook.com/The-Vessel-1578789589102701,402423,tt4083052,en,The Vessel,Ten years after a tsunami destroyed a small-to...,...,2016-09-15,0.0,86.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,"Is a miracle just a tragedy, narrowly avoided ...",The Vessel,False,5.3,14.0
17565,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://www.girasolesciegos.com/,56810,tt1103192,es,Los girasoles ciegos,"Ourense, Spain, 1940. Every time that Elena lo...",...,2008-01-01,0.0,98.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Blind Sunflowers,False,7.3,12.0
24206,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,64835,tt1886502,it,Corpo celeste,"After growing up in Switzerland, 13-year-old M...",...,2011-05-20,0.0,100.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Corpo celeste,False,7.7,6.0
40754,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,326250,tt4067162,en,Killswitch,"This Internet is under attack. Communications,...",...,2015-03-01,0.0,72.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Killswitch,False,7.5,8.0
9791,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,36815,tt0058886,en,The Agony and the Ecstasy,Charlton Heston stars as Renaissance artist Mi...,...,1965-10-07,0.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,From the age of magnificence comes a new magni...,The Agony and the Ecstasy,False,6.8,33.0
33250,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,314011,tt3064356,en,The Beat Beneath My Feet,A teenage boy lives with his single mum in a f...,...,2014-09-25,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Live your dreams,The Beat Beneath My Feet,False,7.0,11.0
3578,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,26889,tt0087004,en,The Brother from Another Planet,An alien slave crashes lands in New York city ...,...,1984-09-07,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Brother from Another Planet,False,6.6,26.0
20561,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",http://www.bbc.co.uk/mediacentre/mediapacks/bo...,80709,tt1975269,en,The Borrowers,Family adventure based on Mary Norton's classi...,...,2011-12-25,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Borrowers,False,6.2,17.0

In [47]:
amostra45_300_m.shape

(40, 24)

In [48]:
C_amostra = amostra_aleatoria_n["vote_average"].mean()
C_amostra

np.float64(5.542000000000001)

In [49]:
amostra_aleatoria_n.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [50]:
amostra45_300_m["score"] = amostra45_300_m.apply(classificacao_ponderada, axis=1)
amostra45_300_m["score"]

<ipython-input-50-869a4bb591ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amostra45_300_m["score"] = amostra45_300_m.apply(classificacao_ponderada, axis=1)

28508    6.604944
21408    5.704125
25520    5.513650
38811    5.543592
11580    5.701724
30943    6.328538
28515    5.606086
24278    6.188313
22360    7.009423
21896    5.208232
35413    5.651139
45233    5.668710
26036    5.579821
31914    5.586478
22822    5.988530
8491     5.873866
30733    5.595328
38648    5.813735
42355    5.992016
37229    5.535377
11556    5.541622
830      5.769522
14407    5.671353
30851    5.954084
45286    5.706313
23931    5.916092
27412    5.794636
5728     5.596891
18204    5.634734
15361    5.712600
3561     7.065113
26107    5.651139
42922    5.548599
17565    5.943715
24206    5.841256
40754    5.877765
9791     6.088077
33250    5.867383
3578     5.954084
20561    5.765826
Name: score, dtype: float64

In [51]:
ordenar_decrescente_amostra = amostra45_300_m.sort_values(by="score", ascending=False)

In [52]:
ordenar_decrescente_amostra["score"]

3561     7.065113
22360    7.009423
28508    6.604944
30943    6.328538
24278    6.188313
9791     6.088077
42355    5.992016
22822    5.988530
30851    5.954084
3578     5.954084
17565    5.943715
23931    5.916092
40754    5.877765
8491     5.873866
33250    5.867383
24206    5.841256
38648    5.813735
27412    5.794636
830      5.769522
20561    5.765826
15361    5.712600
45286    5.706313
21408    5.704125
11580    5.701724
14407    5.671353
45233    5.668710
35413    5.651139
26107    5.651139
18204    5.634734
28515    5.606086
5728     5.596891
30733    5.595328
31914    5.586478
26036    5.579821
42922    5.548599
38811    5.543592
11556    5.541622
37229    5.535377
25520    5.513650
21896    5.208232
Name: score, dtype: float64

In [53]:
melhores_25_filmes_amostra = ordenar_decrescente_amostra.head(25)
melhores_25_filmes_amostra[["title", "vote_count", "vote_average", "score", "runtime"]]

,title,vote_count,vote_average,score,runtime
3561,Blood Simple,308.0,7.3,7.065113,97.0
22360,The Physician,365.0,7.2,7.009423,155.0
28508,George Carlin: It's Bad for Ya!,33.0,8.1,6.604944,70.0
30943,Macbeth,497.0,6.4,6.328538,113.0
24278,Dracula Untold,2439.0,6.2,6.188313,92.0
9791,The Agony and the Ecstasy,33.0,6.8,6.088077,138.0
42355,Fifty Shades Darker,2341.0,6.0,5.992016,118.0
22822,The Invisible Woman,45.0,6.4,5.988530,106.0
30851,Scooby-Doo Meets the Boo Brothers,26.0,6.6,5.954084,94.0
3578,The Brother from Another Planet,26.0,6.6,5.954084,108.0
17565,The Blind Sunflowers,12.0,7.3,5.943715,98.0
23931,Antboy: Revenge of the Red Fury,19.0,6.7,5.916092,80.0
40754,Killswitch,8.0,7.5,5.877765,72.0
8491,It Should Happen to You,7.0,7.7,5.873866,86.0
33250,The Beat Beneath My Feet,11.0,7.0,5.867383,89.0
24206,Corpo celeste,6.0,7.7,5.841256,100.0
38648,Metastases,9.0,6.9,5.813735,82.0
27412,The Living Magoroku,4.0,8.0,5.794636,88.0
830,The Ballad of Narayama,12.0,6.4,5.769522,98.0
20561,The Borrowers,17.0,6.2,5.765826,90.0
15361,Don't Look Back,54.0,5.8,5.712600,110.0
45286,Gideon's Daughter,15.0,6.0,5.706313,105.0
21408,Growing Pains,1.0,10.0,5.704125,85.0
11580,Vice Squad,14.0,6.0,5.701724,97.0
14407,The Doctor Takes a Wife,2.0,7.0,5.671353,88.0

In [54]:
m_amostra = float(input("Quantil: "))
quantil_usuario_amostra = melhores_25_filmes_amostra['vote_count'].quantile(m_amostra)
quantil_usuario_amostra

Quantil: 0.75

np.float64(45.0)